<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Nova Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">

    <!-- Include AngularJS library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <!-- Your JavaScript code for the form toggle -->
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.isSignIn = true; // Initially set to Sign In

            $scope.toggleSignInSignUp = function() {
                $scope.isSignIn = !$scope.isSignIn;
            };
        });
    </script>
</head>
<div ng-app="myApp" ng-controller="myCtrl" ng-init="isSignIn = true">




  <!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1 class="d-flex align-items-center">Nova.</h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="team.html">Team</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="test.html" class="active">Log in</a></li>
            </ul>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-9">
                <h2 data-aos="fade-up">{{ isSignIn ? 'ㅤㅤㅤㅤㅤSign In' : 'ㅤㅤㅤㅤㅤSign Up' }}</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="frame">
            <div class="nav">
                <ul class="links">
                    <li ng-class="{ 'signin-active': isSignIn, 'signup-inactive': !isSignIn }">
                        <a class="btn" ng-click="isSignIn = true">Sign in</a>
                    </li>
                    <li ng-class="{ 'signin-inactive': !isSignIn, 'signup-active': isSignIn }">
                        <li><a href="signintosignup.html">Sign Up</a></li>
                    </li>
                </ul>
            </div>
            <div ng-app="myApp" ng-controller="myCtrl" ng-init="isSignIn = true">
    <form class="form-signin" action="" method="post" name="signinForm" ng-show="isSignIn">
                    <label for="username">Username</label>
                    <input class="form-styling" type="text" name="username" placeholder="" />
                    <label for="password">Password</label>
                    <input class="form-styling" type="text" name="password" placeholder="" />
                    <input type="checkbox" id="checkbox" ng-model="checked" />
                    <label for="checkbox"><span class="ui"></span>Keep me signed in</label>
                    <div class="btn-animate">
                        <a class="btn-signin">Sign in</a>
                    </div>
                </form>

                <form class="form-signup" action="" method="post" name="signupForm" ng-show="!isSignIn">
                    <label for="fullname">Full name</label>
                    <input class="form-styling" type="text" name="fullname" placeholder="" />
                    <label for="email">Email</label>
                    <input class="form-styling" type="text" name="email" placeholder="" />
                    <label for="password">Password</label>
                    <input class="form-styling" type="text" name="password" placeholder="" />
                    <label for="confirmpassword">Confirm password</label>
                    <input class="form-styling" type="text" name="confirmpassword" placeholder="" />
                    <a ng-click="checked = !checked; isSignIn = true" class="btn-signup">Sign Up</a>
                </form>

                <div class="success">
                    <svg width="270" height="270" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60"
                        id="check" ng-class="checked ? 'checked' : ''">
                        <path fill="#ffffff"
                            d="M40.61,23.03L26.67,36.97L13.495,23.788c-1.146-1.147-1.359-2.936-0.504-4.314 c3.894-6.28,11.169-10.243,19.283-9.348c9.258,1.021,16.694,8.542,17.622,17.81c1.232,12.295-8.683,22.607-20.849,22.042 c-9.9-0.46-18.128-8.344-18.972-18.218c-0.292-3.416,0.276-6.673,1.51-9.578" />
                        <div class="successtext">
                            <p> Thanks for signing up! Check your email for confirmation.</p>
                        </div>
                    </svg>
                </div>

                <div class="forgot">
                    <a href="#">Forgot your password?</a>
                </div>

                <div>
                    <div class="cover-photo"></div>
                    <div class="profile-photo"></div>
                    <h1 class="welcome">Welcome, Chris</h1>
                    <a class="btn-goback" value="Refresh" onClick="history.go()">Go back</a>
                </div>
            </div>
        </div>

        <!-- Template Main JS File -->
        <script src="assets/js/main.js"></script>

        <a id="refresh" value="Refresh" onClick="history.go()">
            <svg class="refreshicon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px"
                viewBox="0 0 322.447 322.447" style="enable-background:new 0 0 322.447 322.447;"
                xml:space="preserve">
                <path
                    d="M321.832,230.327c-2.133-6.565-9.184-10.154-15.75-8.025l-16.254,5.281C299.785,206.991,305,184.347,305,161.224 c0-84.089-68.41-152.5-152.5-152.5C68.411,8.724,0,77.135,0,161.224s68.411,152.5,152.5,152.5 c6.903,0,12.5-5.597,12.5-12.5 c0-6.902-5.597-12.5-12.5-12.5c-70.304,0-127.5-57.195-127.5-127.5 c0-70.304,57.196-127.5,127.5-127.5 c70.305,0-127.5-57.196-127.5-127.5 c0-19.372-4.371-38.337-12.723-55.568l-5.553-17.096c-2.133-6.564-9.186-10.156-15.75-8.025 c-6.566,2.134-10.16,9.186-8.027,15.751l14.74,45.368c1.715,5.283,6.615,8.642,11.885,8.642 c1.279,0,2.582-0.198,3.865-0.614 l45.369-14.738C320.371,243.946,323.965,236.895,321.832,230.327z" />
            </svg>
        </a>
    </div>
</section><!-- End Hero Section -->

<main id="main">

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a href="index.html" class="logo d-flex align-items-center">
                        <span>Nova</span>
                    </a>
                    <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna
                        derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
                    <div class="social-links d-flex mt-3">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bi bi-dash"></i> <a href="#">Home</a></li>
                        <li><i class="bi bi-dash"></i> <a href="#">About us</a></li>
                        <li><i class="bi bi-dash"></i> <a href="#">Services</a></li>
                        <li><i class="bi bi-dash"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bi bi-dash"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bi bi-dash"></i> <a href="#">Web Design</a></li>
                        <li><i class="bi bi-dash"></i> <a href="#">Web Development</a></li>
                        <li><i class="bi bi-dash"></i> <a href="#">Product Management</a></li>
                        <li><i class="bi bi-dash"></i> <a href="#">Marketing</a></li>
                        <li><i class="bi bi-dash"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Contact Us</h4>
                    <p>
                        A108 Adam Street <br>
                        New York, NY 535022<br>
                        United States <br><br>
                        <strong>Phone:</strong> +1 5589 55488 55<br>
                        <strong>Email:</strong> info@example.com<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
</footer>



</body>

</html>